/*Sybren en Renan */
/* SECTION 1 CSS */
#body1{
	background:url("achtergrond.jpg") no-repeat;
	background-size: 100%;

}
#Vak1{	
	text-align:center;
	color:white;
}

#knop1{
	display: inline;
	margin-left:4%;
}

#bedrijf1{
	text-align:center;
	color:white;
}

#alfa1{
	margin-left: 30%;
	margin-top: 100px;
	width: 40%;
}
/* EINDE SECTION 1 CSS */
/* Styling section 2 */
#S2_background{
	background: url("background_S2.jpg") no-repeat;
	background-size: 100%;
}

#S2_maincontent{
	background-color: rgba(0,0,0,0.6);
	border-radius: 20px;
	width: 400px;
	height: 275px;
	position: absolute;
	color: white;
	top:50px;
	left: 70%;
	text-align: center;
}

#S2_titel{
	padding-right: 80px;
	padding-bottom: 5px;
}

#S2_maincontent a{
	color: white;
	text-decoration: none;
}

#S2_maincontent p{
	margin: 20px 20px 20px 20px;
}

#S2_email, #S2_submit{
	position: absolute;
	top:225px;
}

#S2_email{
	left: 40px;
	width: 180px;
}

#S2_submit{
	left: 250px;
}

#lang{
	position: absolute;
	top:5px;
	right: 20px;
}

#nl{padding-right: 5px;}
#en{padding-left: 5px}

/* SECTION 3 CSS*/
#body3{
	background:url("achtergrond.jpg") no-repeat;
	background-size: 100%;
}
#form3{
	margin-left: 40%;
	margin-top:10%;
}

/*EINDE SECTION 3 CSS*/



/* SECTION 9 CSS*/
#header9{
    width:100%;
    height: 50px;
    text-align: center;
    color:white;
	background:url("achtergrond.jpg") no-repeat;
	background-size: 100%;
    padding-top:2%;
}
#body9{
    margin:0;
    text-align: center;
   	background:url("achtergrond.jpg") no-repeat;
	background-size: 100%;
    color:white;
}
#tr9{
   background-color: white;
    color:black;
}
#th9{
    background-color: white;
    color:black;
}
#footer9{
    margin-top:10%;
    text-align: center;
    background-color: black;
    color:white;
}

.pijltjerechts {
	margin-left: 98%;
	margin-top: -1%;
    color:red;
    background-color: red;
}
.pijltjelinks{
background-color: red;
}

/*EINDE SECTION 9 CSS*/
